/* body{
    background-color: blueviolet;
} */

.parent{
    display: flex;
    /* flex-direction: column-reverse; */
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;

    background-color: chartreuse;
    border: 1px solid red;
}
.child1{
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: 1px dotted black;
}
.child2{
    height: 200px;
    width: 200px;
    background-color: brown;
    border: 1px dotted white;
}
.child3{
    height: 200px;
    width: 200px;
    background-color: burlywood;
    border: 1px dotted red;
}
.child4{
    height: 200px;
    width: 200px;
    background-color: palevioletred;
    border: 1px dotted blue;
}